---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
  canonical?: string;
}
const { title, description, canonical } = Astro.props;
---

<BaseLayout title={title} description={description} canonical={canonical}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
